<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8" ng-app="mainApp"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9" ng-app="mainApp"> <![endif]-->
<!--[if gt IE 9]><!-->	<html ng-app="mainApp"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>EMEFANA - Fanikisha Shughuli yako</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="Venues, Harusi, Kumbi, Tanzania,Meetings,weddings, birthdays" />
		<meta name="Author" content="Iddy Magohe" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />
		
		<link rel="apple-touch-icon" sizes="57x57" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/e5f55f1f663c94b847557c2d4cde038f.ico/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/e5f55f1f663c94b847557c2d4cde038f.ico/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/e5f55f1f663c94b847557c2d4cde038f.ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/e5f55f1f663c94b847557c2d4cde038f.ico/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/e5f55f1f663c94b847557c2d4cde038f.ico/favicon-16x16.png">
		<link rel="manifest" href="/e5f55f1f663c94b847557c2d4cde038f.ico/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/e5f55f1f663c94b847557c2d4cde038f.ico/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- CORE CSS -->
		<link href="/app/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/css/color_scheme/yellow.css" rel="stylesheet" type="text/css" title="blue" />


		<!-- REALESTATE -->
		<link href="/app/assets/css/realestate.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->		<link href="/app/assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="/app/assets/css/layout-responsive.css" rel="stylesheet" type="text/css" />
		

	
		

		<link href="/app/assets/css/style.css" rel="stylesheet" type="text/css" />
		 <link rel="stylesheet" type="text/css" media="all" href="/app/assets/css/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="/app/assets/css/angular.rangeSlider.css">
		
		


		<!-- Morenizr -->
		<script type="text/javascript" src="/app/assets/plugins/modernizr.min.js"></script>
	</head>
	<body><!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="assets/images/boxed_background/1.jpg"  -->

		<!-- TOP NAV -->
		<public-header></public-header> 

		<span id="header_shadow"></span>
		<!-- /TOP NAV -->



		<!-- WRAPPER -->
		
            <div id="wrapper"  ng-show="$state.includes('home')"> 
                          

			<!-- SLIDER -->
			<section id="slider" class="half-screen" data-autoplay="false" data-mouseover-stop="false"><!-- data-autoplay = 'fals'e or miliseconds. Eg.: 5s = '5000' ; data-mouseover = stop on mouseover. 'true' or 'false') -->


				<ul class="slides-container">

					<!-- Item 1 -->
					<li>
					
						<div class="image-caption ">
						<h1 style="color:#fff" class="hidden-sm hidden-xs">Plan and Book Your Perferct Event
						 <span class="subtitle hidden-sm hidden-xs">Compare Venue Prices And Availability Countrywide at Once, For The Event</span>
						</h1>

                 <form method="get" class="input-group yellow-row" id ="re-filter">
					<div class="row">
						<div class="form-group">

							<!-- <div class="col-md-2 col-sm-12 col-xs-12">
								<label >Event</label>
								<select class="form-control " name="event"
											ng-model="search.event"
											ng-options="event.eid for event in events" required>
											<option value="">Select Event type</option>
										</select>
							</div> -->
								<div class="col-md-3 col-sm-12 col-xs-12 ">

								
								<label for="Autocomplete">Where in Tanzania</label> 
								<input type="text" id="Autocomplete"
									class="form-control" ng-autocomplete="city"
									details="cityDetails" options="optionsCities" />
							      </div>
							
							<div class="col-md-3 col-sm-12 col-xs-12">
								<label>Looking for</label>
								<select class="form-control " name="service"
											ng-model="providerCategory"
											ng-options="service.type for service in provider_categories" required>
											<option value="">Select Service type</option>
								</select>
							</div>
							
							<div class="col-md-3 col-sm-12 col-xs-12"  >
										<label>Event Date </label>
									      <p class="input-group">
											<input type="text" class="form-control well well-sm" 
												 ng-model="eventDate" name="eventDate" />
												 <span class="input-group-btn">
												<button type="button" class="btn btn-default">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
											</p>


									</div>
									
							<div class="col-md-1 col-sm-12 col-xs-12">
								<label>Days</label>
								<input type="number" ng-model="days" class="form-control" min="1" max="99"/>
							</div>
								

									<div class="col-md-2 col-sm-12 col-xs-12">
								<label>&nbsp;</label>
								<button class="btn btn-primary fullwidth" ng-click="search()">SEARCH NOW</button>
							</div>
						</div>
					</div>

				</form>

						</div>

						<!--<span class="overlay"></span>-->
						<div style="background-image: url('/app/assets/images/demo/realestate/1.jpg');" class="fullscreen-img"></div>
					</li>

				</ul>

			</section>
			<!-- /SLIDER -->

			<!-- FEATURED BOXES 3 -->
			<section class="container">
				<div class="row">
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="featured-box nobg border-only ybk">
							<div class="box-content">
								<i class="fa fa-users"></i>
								<h4>For Everyone</h4>
								<p>One stop shop for events service providers of all kind. Available anytime, anywhere</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="featured-box nobg border-only ybk left-separator">
							<i class="fa fa-search"></i>
							<h4>Search One and Done</h4>
							<p>Compare them all at once , read reviews on their services,  pick the best priced provider for your perfect event.</p>
						</div>
					</div>
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="featured-box nobg border-only ybk left-separator">
							<i class="fa fa-book"></i>
							<h4>Manage your bookings online</h4>
							<p>It's easy to book, cancel, make changes or send a request to the provider.</p>
						</div>
					<!-- </div>
					<div class="col-md-4">
						<div class="featured-box nobg border-only ybk left-separator">
							<i class="fa fa-cogs"></i>
							<h4>Highly Customizable</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div> -->
				</div>
			</section>
			<!-- /FEATURED BOXES 3 -->


			<div class="container">
				<hr class="no-lines" /><!-- hr line -->
			</div>


			<section class="container">
				
				<div class="row">

					<!-- center column -->
					<div class="col-md-9">
					
						<h3 class="page-header nomargin-top">
							<a href="realestate-list.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a> 
							<strong class="styleColor">Best</strong> Deal
						</h3>

						<div class="row">

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/3.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/4.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/5.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

						</div>

						<h3 class="page-header">
							<a href="realestate-list.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a> 
							Recent <strong class="styleColor">Properties</strong> 
						</h3>

						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/2.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>700 Front Street, Key West, FL</h4>
										<small>$350.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/6.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/7.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
									
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>
                           	

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/8.jpg" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							
							<div>result: {{city}} {{cityDetails.geometry}}  {{countrySelected}}   {{eventDate}}</div>

						</div>
							
							

						</div>



					</div>

					<!-- side column -->
					<div class="col-md-3">

						<!-- HOT -->
						<h3 class="page-header nomargin-top margin-bottom40">
							Today's <strong class="styleColor">Hot</strong>
						</h3>

						<!-- No #1 Hot -->
						<div class="item-box nomargin-top">
							<figure>
								<a class="item-hover" href="realestate-single.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>VEW</strong> OFFER
									</span>
								</a>
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/1.jpg" />
							</figure>
							<div class="item-box-desc">
								<h4 class="wrap"><a class="styleColor" href="#">1903 Hollywood Blvd, FL</a></h4>
								<small class="font300 text-center block">~ $112.000 ~</small>
							</div>
						</div>
						<!-- /No #1 Hot -->

					


						<!-- small articles -->
						<div class="row">
							<div class="col-xs-6 col-md-6">
								<a href="#">
									<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/3.jpg" />
									<h6 class="fsize12 font300 padding6 styleSecondColor">Horses hypnotized by the sea</h6>
								</a>							
							</div>
							<div class="col-xs-6 col-md-6">
								<a href="#">
									<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/4.jpg" />
									<h6 class="fsize12 font300 padding6 styleSecondColor">Sochi protesters fight to be heard</h6>
								</a>							
							</div>
						</div>
						<!-- /small articles -->



						<!-- TWEETS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i> 
							Latest <strong class="styleColor">Tweets</strong> 
						</h3>

						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>
						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>
						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>

						<!-- SOCIALS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i> 
							<strong class="styleColor">Follow</strong> Us
						</h3>

						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-google-plus"></a>
						<a href="#" class="social fa fa-linkedin"></a>
						<a href="#" class="social fa fa-pinterest"></a>
						<a href="#" class="social fa fa-flickr"></a>

					</div>

				</div>

			</section>


			<section class="container">

				<!-- CALLOUT -->
				<div class="row bs-callout">
					<div class="col-md-8 text-center">
						<h3 class="padding20">Subscribe <strong>now</strong> and get the most <strong>important</strong> news.</h3>
					</div>
					<div class="col-md-4">

						<p class="nomargin">Type your best E-mail Address</p>

						<form method="get" action="#" class="input-group">
							<input type="text" class="form-control" name="k" id="k" value="" placeholder="E-mail Address" />
							<span class="input-group-btn">
								<button class="btn btn-primary"><i class="fa fa-search"></i></button>
							</span>
						</form>

					</div>
				</div>
				<!-- /CALLOUT -->

			</section>
                          
                           </div>
                            <div ui-view>  </div>
                            

		<!-- /WRAPPER -->
		


		<!-- FOOTER -->
		<footer>

		<public-footer></public-footer>
			<!-- footer content -->

		</footer>
		<!-- /FOOTER -->



		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="/app/assets/plugins/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/jquery.cookie.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/jquery.appear.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/masonry.js"></script>

		<script type="text/javascript" src="/app/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
		<script type="text/javascript" src="/app/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/stellar/jquery.stellar.min.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="/app/assets/plugins/superslides/dist/jquery.superslides.min.js"></script>


		<script type="text/javascript" src="/app/assets/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>
		<script type="text/javascript" src="/app/assets/js/scripts.js"></script>
		<script type="text/javascript" src="/app/assets/js/moment.js"></script>
		
		
			<!-- ANGULAR -->
		<script type="text/javascript" src="/app/assets/js/angular.js"></script>
		<script type="text/javascript" src="/app/assets/js/angular-resource.js"></script>
		<script type="text/javascript" src="/app/assets/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
		<script src="/app/assets/js/angular.rangeSlider.js"></script>
		<script type="text/javascript" src="/app/assets/js/daterangepicker.js"></script>
		<script type="text/javascript" src="/app/assets/js/angular-ui-router.js"></script>
		<script type="text/javascript" src="/app/assets/js/angular-cookies.js"></script>
		<script type="text/javascript" src="/app/assets/js/checklist-model.js"></script>
		<script type="text/javascript" src="/app/assets/js/angular-base64-upload.js"></script>
		<script type="text/javascript" src="/app/assets/js/angular-animate.min.js"></script>
		<script type="text/javascript" src="/app/assets/js/angular-busy.min.js"></script>
		<script type="text/javascript" src="/app/assets/js/cordovaGeolocationModule.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
		 <script type="text/javascript" src="/app/assets/js/ngAutocomplete.js"></script>
		<script type="text/javascript" src="/app/providers/js/config.js"></script>
		<script type="text/javascript" src="/app/js/application.js"></script>
		<script type="text/javascript" src="/app/js/controllers.js"></script>
		<script type="text/javascript" src="/app/js/services.js"></script>
		<script type="text/javascript" src="/app/js/directives.js"></script>
		<script type="text/javascript" src="/app/js/filters.js"></script>
		
		<script type="text/javascript">
	$(function() {
	    $('input[name="eventDate"]').daterangepicker({
	        minDate: '06/01/2015',
	        singleDatePicker: true,
	        timePicker: true,
	        format: 'MM/DD/YYYY h:mm ',
	        timePickerIncrement: 30,
	        timePicker12Hour: false,
	        timePickerSeconds: false
	       
	    });
	});
</script>


		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
		<!--<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X', 'domainname.com');
			ga('send', 'pageview');
		</script>
		-->

	</body>
</html>