<!-- WRAPPER -->
<link rel="stylesheet" type="text/css" href="/app/assets/css/dddropdownpanel.css" />
		<div id="wrapper" >

		<section class="hidden-xs container top-no-header">
		<div id="mypanel" class="ddpanel">
		
		<div class="slide ddpanelcontent"  ng-show="collapsed" style="padding:20px; margin-bottom:5px;">

		<form id="re-filter white-row-list " >

							<!-- FILTER / SEARCH -->
							<h5>
								Find The Best <strong class="styleColor"> Providers </strong>
							</h5>

							<div class="row">
						<div class="form-group">

							<!-- <div class="col-md-2 col-sm-12 col-xs-12">
								<label >Event</label>
								<select class="form-control " name="event"
											ng-model="search.event"
											ng-options="event.eid for event in events" required>
											<option value="">Select Event type</option>
										</select>
							</div> -->
								<div class="col-md-3 col-sm-12 col-xs-12 ">

								
								<label for="Autocomplete">Where in Tanzania</label> 
								<input type="text" id="Autocomplete" placeholder="Enter Event location here "
									class="form-control" ng-autocomplete="city"
									details="cityDetails" options="optionsCities" />
							      </div>
							
							<div class="col-md-3 col-sm-12 col-xs-12">
								<label>Looking for</label>
								<select class="form-control " name="service"
											ng-model="providerCategory"
											ng-options="service.type for service in provider_categories" required>
											<option value="">Select Service type</option>
								</select>
							</div>
							
							<div class="col-md-3 col-sm-12 col-xs-12"  >
										<label>Event Date </label>
									      <p class="input-group">
											<input type="text" class="form-control well well-sm" 
												 ng-model="eventDate" name="eventDate" />
												 <span class="input-group-btn">
												<button type="button" class="btn btn-default" disabled="disabled">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
											</p>


							</div>
							
							<div class="col-md-3 col-sm-12 col-xs-12"  >
										<label>Event End Date </label>
									      <p class="input-group">
											<input type="text" class="form-control well well-sm" 
												 ng-model="eventDate" name="eventDate" />
												 <span class="input-group-btn">
												<button type="button" class="btn btn-default" disabled="disabled">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
											</p>
							</div>
									
							<div class="col-md-6 col-sm-12 col-xs-12">
								
								 <label>
										<input type="checkbox" ng-model="uselocation" data-for="use-location"   style="height: 15px; padding: 6px;"/>
										Use my current location as the Event location and search for the nearest service providers 
									 </label>
								</div>
								
								<div class="col-md-3 col-sm-6 col-xs-12">
										<select class="form-control " name="maxDistance"
											ng-model="maxDistance"  required>
											<option value="20000">All Providers around </option>
											<option value="15">15 KILOMETERS</option>
											<option value="50">50 KILOMETERS</option>
											<option value="100">100 KILOMETERS</option>
											<option value="200">200 KILOMETERS</option>
											<option value="350">350 KILOMETERS</option>
											<option value="500">500 KILOMETERS</option>
											<option value="1000">1000+ KILOMETERS</option>
								</select>
									</div>
                  
								<div class="col-md-3 col-sm-12 col-xs-12">
                                 <br class="hidden-md hidden-lg"/>
								<button class="btn btn-primary fullwidth" ng-click="search()">SEARCH NOW</button>

							</div>
						</div>
					</div>

						</form>
						</div>
						<div id="mypaneltab" class="ddpaneltab">
						
						<a ng-model="collapsed" ng-click="collapsed=!collapsed">
						  <span ng-show="collapsed">Advanced Search<img src="/app/assets/images/arrow-up.gif" class="pointerimage" style="border-width: 0px; visibility: visible;"></span>
						  <span ng-show="!collapsed">Advanced Search<img src="/app/assets/images/arrow-down.gif" class="pointerimage" style="border-width: 0px; visibility: visible;"></span>
						</a>
						</div>
					</div>	

		</section>

			<section class="container ng-cloak" >
			   
			
				<div class="row">

					<!-- center column -->
					<div class="col-md-9" >

						<!-- CATEGORY TITLE -->
						<!-- <h3 class="page-header nomargin-top">
							<strong class="styleColor">4 </strong> Result for {{provider_type}}Providers near {{city}}
						</h3> -->
						
							<!-- PAGINATION -->
			           <div class="row">
			           <div class="notfound_page_title" ng-if="filteredResult.length <= 0">
			              We did not find providers to match the search criteria/selected filters, try the advanced search or tweak the filters.
			           </div>

							<div class="col-md-8 text-left" ng-show="filteredResult.length > 0">
								<p class=" pull-left nomargin padding20"><strong>Showing</strong> {{resultFrom}} - {{resultTo }} of {{total}} {{provider_type}} Providers in {{$stateParams.city}} </p>
							</div>

							<div class="col-md-4 responsive-text-center text-right">
								<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/dirPagination.tpl.html"></dir-pagination-controls>
							</div>

						</div>
						<!-- /PAGINATION -->



						<!-- article summary -->
						<!--  "provider in providerResult.providers | filter:q | itemsPerPage: pageSize" -->
						<div class="row " dir-paginate="provider in filteredResult = (providerResult.providers | filter:priceRange | filter:provType | filter:prvEvents | filter:fromCity | itemsPerPage: pageSize)" current-page="currentPage"  >
						  <div class="item-box-list">
							<div class="col-md-4 text-center">
							<figure>
							    <a class="item-hover" ng-click="viewDetails(provider.providerId)">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> PROVIDER
											</span>
										</a>
								<img alt="" ng-if="!hasThumbnailPhoto(provider)" class="img-responsive" src="/app/assets/images/noimg.png" />
								<img alt="" ng-if="hasThumbnailPhoto(provider)" class="img-responsive" ng-src="{{provider.thumnailPhoto.image}}" />
								</figure>
								
							

							</div>
							<div class="col-md-8">
								<h4><a class="styleColor"  ng-click="viewDetails(provider.providerId)">{{provider.providerName}}</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">{{provider.priceRange.priceFrom | currency : provider.priceRange.currency}} - {{provider.priceRange.priceTo | currency : provider.priceRange.currency}}</small>
									 <span ng-text-truncate="provider.businessDescription" ng-tt-chars-threshold="200"></span> 
									<!-- {{provider.businessDescription}} -->

								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> {{provider.distance.value | distance}}
								</p>
							 </div>
							</div>
						</div>
						<!-- /article summary -->


						<!-- PAGINATION -->
						<div class="row">

							<div class="col-md-6 text-left" ng-show="filteredResult.length > 0">
								<p class="hidden-xs pull-left nomargin padding20">Showing {{resultFrom}} - {{resultTo }} of {{total}} providers.</p>
							</div>
		


							<div class="col-md-6 responsive-text-center text-right">
								<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/dirPagination.tpl.html"></dir-pagination-controls>
							</div>

						</div>
						<!-- /PAGINATION -->


					</div>
					
					<!-- side column -->
					<div class="col-md-3">

						
						<!-- HOT -->
						<form id="re-filter"  >
						<div class="row">
						  <div class="col-md-12 col-sm-6">
								<label>Search By Provider Name</label>
								<p class="input-group">
								<input class="form-control " ng-model="searchterm" 
									ng-model="providerName"/>
									 <span class="input-group-btn">
									<button class="btn btn-info "  ng-click="searchByTerm(searchterm)">GO</button>
									</span>
									</p>
									</div>
						</div>
						</form>

						<!-- No #1 Hot -->
						
						<form id="filter_box" class="box_filters" action="">
						
							<h3 class=" filter_by ">Filter by: <i class="fa fa-info-circle" tooltip="Filters help our customers save time when choosing their providers. Try clicking on a few now..."></i></h3>
							    <span>&nbsp;</span>
							       	    
							<div class="filtercategory"> 
							       <h5><strong class="styleColor">  Price</strong></h5>
                                       <div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="100000" filter="currency" filter-options="TZS" show-values="true" ></div>
							 </div>
							
							<span>&nbsp;</span>
							<div class="filtercategory"> 
								   <h5> <strong class="styleColor">  Star Rating</strong></h5>
	
							 <div class="filterelement" style="color: #009fe3;font-size:12px">
								<input  class="filterelement" type="checkbox" id="star5" name="star" value="50" >
								   <span class="filterLabel">   5 Stars  </span> 
								     <span class="filterCount">(0)</span>
	                           </div>
	                           <div class="filterelement" style="color: #009fe3;font-size:12px">
								<input  class="filterelement" type="checkbox" id="star5" name="star" value="50" >
								   <span class="filterLabel">   5 Stars  </span> 
								     <span class="filterCount">(0)</span>
	                          </div>
	                         <div class="filterelement" style="color: #009fe3;font-size:12px">
								<input class="filterelement" type="checkbox" id="star5" name="star" value="50" >
								   <span class="filterLabel">   5 Stars  </span> 
								     <span class="filterCount">(0)</span>
	                           </div>
						</div>
						
						<div class="filtercategory"> 
								   <h5><a ng-click="citing = !citing" >
								   <span ng-show="!citing"><i class="fa fa-caret-right fa-lg"></i></span>
								 <span ng-show="citing"><i class="fa fa-caret-down fa-lg"></i></span>
								 <strong class="styleColor"> Cities</strong></span>
								  </a></h5>
								   <div class="slide" ng-show="citing">
								<div ng-repeat="citiz in citiestz" class="filterelement" style="color: #009fe3;font-size:12px">
								   <input  class="filterelement" type="checkbox" checklist-model="cityfilter" checklist-value="citiz" ng-click="updateTotalCountAfterFilter()" >
								   <span class="filterLabel">  {{citiz.cid}} </span> 
								     <span class="filterCount">({{cityCount(citiz.cid)}})</span>
	                             </div>
	                              </div>
							   </div>


							<div class="filtercategory"> 
								   <h5><a ng-click="categoring = !categoring" >
								   <span ng-show="!categoring"><i class="fa fa-caret-right fa-lg"></i></span>
								 <span ng-show="categoring"><i class="fa fa-caret-down fa-lg"></i></span>
								 <strong class="styleColor"> Categories</strong></span>
								  </a></h5>
								   <div class="slide" ng-show="categoring">
								<div ng-repeat="service in provider_categories" class="filterelement" style="color: #009fe3;font-size:12px">
								   <input  class="filterelement" type="checkbox" checklist-model="typefilter" checklist-value="service" ng-click="updateTotalCountAfterFilter()" >
								   <span class="filterLabel">  {{service.type}} </span> 
								     <span class="filterCount">({{typeCount(service.type)}})</span>
	                             </div>
	                              </div>
							   </div>
							   
							<div class="filtercategory"> 
								 <h5><a ng-click="eventing = !eventing" >
								 <span ng-show="!eventing"><i class="fa fa-caret-right fa-lg" ></i></span>
								 <span ng-show="eventing"><i class="fa fa-caret-down fa-lg"></i></span>
								 <strong class="styleColor"> Events</strong>

								  </a></h5>
								 <div class="slide" ng-show="eventing">
								<div ng-repeat="event in events" class="filterelement" style="color: #009fe3;font-size:12px;">
								   <input  class="filterelement" type="checkbox" checklist-model="eventfilter" checklist-value="event.eid" ng-click="updateTotalCountAfterFilter()"/>
								   <span class="filterLabel">  {{event.eid}} </span> 
								     <span class="filterCount">({{eventCount(event.eid)}})</span>
	                             </div>
	                             </div>
							   </div>

				</form>
					
						
						<!-- /small articles -->



						<!-- TWEETS -->
						


					</div>
					


				</div>

			</section>

		</div>
		

	<script type="text/javascript">
	$(function() {
	    $('input[name="eventDate"]').daterangepicker({
	        minDate: '06/01/2015',
	        singleDatePicker: true,
	        timePicker: true,
	        format: 'MM/DD/YYYY h:mm ',
	        timePickerIncrement: 30,
	        timePicker12Hour: false,
	        timePickerSeconds: false
	       
	    });

	    
	});
	
	 
	
</script>
