<!-- WRAPPER -->
<link rel="stylesheet" type="text/css" href="/app/assets/css/dddropdownpanel.css" />
		<div id="wrapper">
		<section class="container top-no-header">
		<div id="mypanel" class="ddpanel">
		
		<div class="ddpanelcontent" ng-show="collapsed" style="padding:20px; margin-bottom:5px;">

		<form id="re-filter white-row " >

							<!-- FILTER / SEARCH -->
							<h5>
								Find The Best <strong class="styleColor"> Providers </strong>
							</h5>

							<div class="row">
								<div class="form-group">

									<div class="col-md-3 col-sm-6">
										<label for="Autocomplete">Where in Tanzania</label> 
								<input type="text" id="Autocomplete" 
									class="form-control" ng-autocomplete="city"
									details="cityDetails" options="optionsCities" />
									</div>

									<div class="col-md-3 col-sm-6">
										<label>Looking for</label>
										<select class="form-control " name="service"
											ng-model="providerCategory"
											ng-options="service.type for service in provider_categories" required>
											<option value="">Select Service type</option>
								</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<label>Event Date</label>
										 <p class="input-group">
											<input type="text" class="form-control well well-sm" 
												 ng-model="eventDate" name="eventDate" />
												 <span class="input-group-btn">
												<button type="button" class="btn btn-info">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
											</p>   
											
									</div>
									<div class="col-md-1 col-sm-6">
										<label>Days</label>
										<input type="number" ng-model="days" class="form-control" min="1" max="99"/>
									</div>
									<div class="col-md-2">
										<label>&nbsp;</label>
										<button class="btn btn-info fullwidth">SEARCH NOW</button>
									</div>
								</div>
							</div>

						</form>
						</div>
						<div id="mypaneltab" class="ddpaneltab">
						
						<a href="#" ng-model="collapsed" ng-click="collapsed=!collapsed">
						  <span ng-show="collapsed">Advanced Search<img src="/app/assets/images/arrow-up.gif" class="pointerimage" style="border-width: 0px; visibility: visible;"></span>
						  <span ng-show="!collapsed">Advanced Search<img src="/app/assets/images/arrow-down.gif" class="pointerimage" style="border-width: 0px; visibility: visible;"></span>
						</a>
						</div>
					</div>	

		</section>

			<section class="container">
				<div class="row">

					<!-- center column -->
					<div class="col-md-9">

						<!-- CATEGORY TITLE -->
						<h3 class="page-header nomargin-top">
							<strong class="styleColor">4 </strong> Result for 
						</h3>



						<!-- article summary -->
						<div class="row " >
						  <div class="item-box-list">
							<div class="col-md-4 text-center">
							<figure>
							    <a class="item-hover" ng-click="viewDetails('3754357345734')">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> PROVIDER
											</span>
										</a>
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/1.jpg" />
								</figure>

							</div>
							<div class="col-md-8">
								<h4><a class="styleColor"  ng-click="viewDetails('3754357345734')">27523 Pacific Coast</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							 </div>
							</div>
						</div>
						<!-- /article summary -->



						<!-- article summary -->
						<div class="row">
						   <div class="item-box-list">
							<div class="col-md-4 text-center">
							<figure>
							    <a class="item-hover" ng-click="viewDetails('3754357345734')">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> PROVIDER
											</span>
										</a>
								<img alt="" class="img-responsive" src="/app/assets/images/noimg.png" />
								</figure>
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor"  ng-click="viewDetails('3754357345734')">700 Front Street, Key West, FL</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							 </div>
							</div>
						</div>
						<!-- /article summary -->



						<!-- article summary -->
						<div class="row"  >
						   <div class="item-box-list">
							<div class="col-md-4 text-center">
							<figure>
							    <a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> PROVIDER
											</span>
										</a>
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/4.jpg" />
								</figure>
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">27523 Pacific Coast</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->

						


						<!-- article summary -->
						<div class="row ">
						 <div class="item-box-list">
							<div class="col-md-4 text-center">
							<figure>
							    <a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> PROVIDER
											</span>
										</a>
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/6.jpg" />
								</figure>
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">700 Front Street, Key West, FL</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->

												
						<!-- CALLOUT -->
					<!-- 	<div class="row bs-callout">
							<div class="col-md-8 text-center">
								<h3 class="padding20">Subscribe <strong>now</strong> and get the <strong>latest</strong> news.</h3>
							</div>
							<div class="col-md-4">

								<p class="nomargin">Type your best E-mail Address</p>

								<form method="get" action="#" class="input-group">
									<input type="text" class="form-control" name="k" id="k" value="" placeholder="E-mail Address" />
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-search"></i></button>
									</span>
								</form>

							</div>
						</div> -->
						<!-- /CALLOUT -->


						<!-- article summary -->
						<div class="row">
						 <div class="item-box-list">
							<div class="col-md-4 text-center">
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/7.jpg" />
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">1903 Hollywood Blvd, Hollywood, FL</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->
						
												
						


						<!-- article summary -->
						<div class="row">
						 <div class="item-box-list">
							<div class="col-md-4 text-center">
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/8.jpg" />
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">27523 Pacific Coast</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->




						<!-- article summary -->
						<div class="row">
						 <div class="item-box-list">
							<div class="col-md-4 text-center">
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/1.jpg" />
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">1903 Hollywood Blvd, Hollywood, FL</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->



						<!-- article summary -->
						<div class="row">
						 <div class="item-box-list">
							<div class="col-md-4 text-center">
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/2.jpg" />
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">27523 Pacific Coast</a></h4>
								<p>
									<small class="block styleSecondColor fsize17">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->


						<hr class="half-margins" /><!-- separator -->


						<!-- article summary -->
						<div class="row">
						 <div class="item-box-list">
							<div class="col-md-4 text-center">
								<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/thumb/3.jpg" />
							</div>
							<div class="col-md-8">
								<h4><a class="styleColor" href="realestate-single.html">1903 Hollywood Blvd, Hollywood, FL</a></h4>
								<p>
									<small class="block styleSecondColor fsize20">$350.000</small>
									Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
								</p>
								<p>
									<span class="fsize12 pull-right">
										<i class="bed-ico" title="beds"></i> 3 , 
										<i class="garage-ico" title="garage"></i> 1 , 
										<i class="furnished-ico" title="furnished"></i>
									</span>

									<i class="home-ico"></i> 300m<sup>2</sup>
								</p>
							</div>
							</div>
						</div>
						<!-- /article summary -->


						<hr /><!-- final separator -->


						<!-- PAGINATION -->
						<div class="row">

							<div class="col-md-6 text-left">
								<p class="hidden-xs pull-left nomargin padding20">Showing 1-10 of 38 results.</p>
							</div>

							<div class="col-md-6 responsive-text-center text-right">
								<ul class="pagination">
									<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
								</ul>
							</div>

						</div>
						<!-- /PAGINATION -->


					</div>
					
					<!-- side column -->
					<div class="col-md-3">

						
						<!-- HOT -->
						<form id="re-filter"  >
						<div class="row">
						  <div class="col-md-12 col-sm-6">
								<label>Search By Provider Name</label>
								<p class="input-group">
								<input class="form-control " name="providerName"
									ng-model="providerName"/>
									 <span class="input-group-btn">
									<button class="btn btn-info ">GO</button>
									</span>
									</p>
									</div>
						</div>
						</form>

						<!-- No #1 Hot -->
						
						<form id="filter_box" class="box_filters" action="">
						
							<h3 class=" filter_by ">Filter by: <i class="fa fa-info-circle" tooltip="Filters help our customers save time when choosing their providers. Try clicking on a few now..."></i></h3>
							    <span>&nbsp;</span>
							       	    
							<div class="filtercategory"> 
							       <h5><strong class="styleColor">  Price</strong></h5>
                                       <div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="10" filter="currency" filter-options="USD$" show-values="true"></div>
							       </div>
							
							<span>&nbsp;</span>
							<div class="filtercategory"> 
							   <h5> <strong class="styleColor">  Star Rating</strong></h5>

							<div class="filterelement" style="color: #009fe3;font-size:12px">
							 
							<input  class="filterelement" type="checkbox" id="star5" name="star" value="50" >
							   <span class="filterLabel">   5 Stars  </span> 
							     <span class="filterCount">(0)</span>

                               </div>
                               
                             <div class="filterelement" style="color: #009fe3;font-size:12px">
 
							<input  class="filterelement" type="checkbox" id="star5" name="star" value="50" >
							   <span class="filterLabel">   5 Stars  </span> 
							     <span class="filterCount">(0)</span>


                               </div>
                             <div class="filterelement" style="color: #009fe3;font-size:12px">

							<input class="filterelement" type="checkbox" id="star5" name="star" value="50" >
							   <span class="filterLabel">   5 Stars  </span> 
							     <span class="filterCount">(0)</span>


                               </div>
							       </div>
							       
							   
							       
							       <span>&nbsp;</span>
							<div class="filtercategory"> 
							   <h5> <strong class="styleColor">  Events</strong></h5>

							<div ng-repeat="event in events" class="filterelement" style="color: #009fe3;font-size:12px">

							<input  class="filterelement" type="checkbox" id="star5" name="star" value="50" >
							   <span class="filterLabel">  {{event.eid}} </span> 
							     <span class="filterCount">(0)</span>

                               </div>


							       </div>
							       


				</form>
						
						
						<!-- /small articles -->



						<!-- TWEETS -->
						


					</div>
					


				</div>

			</section>

		</div>
		

			<script type="text/javascript">
	$(function() {
	    $('input[name="eventDate"]').daterangepicker({
	        minDate: '06/01/2015',
	        singleDatePicker: true,
	        timePicker: true,
	        format: 'MM/DD/YYYY h:mm ',
	        timePickerIncrement: 30,
	        timePicker12Hour: false,
	        timePickerSeconds: false
	       
	    });

	    
	});
	
	 
	
</script>
