
 <div id="wrapper">
		<header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
				<!--
					Enable only if bright background image used
					<span class="overlay"></span>
				-->

				<div class="container">
					<h3>&nbsp;</h3>

					<ul class="breadcrumb">
						<li><a class="btn" back>
			       <i class="fa fa-long-arrow-left "></i>  Back to Search Results
			       </a></li>

					</ul>
				</div>
			</header>


		<section class="container">

			<div class="row">
			  

               <div class="col-md-12" id="provider-plate"> 
               
				  <h1 id="provider-name" class="section-header-main" >{{currentProvider.providerName}}</h1>
					 <div class="address"> 
						 <span class="street-address">{{currentProvider.providerAddress.street}}</span> 
						 <span class="city">{{currentProvider.providerAddress.streetLine2}}</span> 
						 <span class="province">{{currentProvider.providerAddress.city.cid}}</span> 
						 <span class="province">  - {{currentProvider.providerAddress.city.region}}</span> 
						 <span class="province">{{currentProvider.providerAddress.city.country}}</span> 
						 <span class="phone-number"> Expert: <span >1-855-809-3512</span> </span>
					  </div> 
				  </div> 
				  
					
					<!-- center column -->
			
					<div class="col-md-12 col-sm-12">
					<div class="col-md-8 col-sm-6">
					
				
					<div class="pr_nav_bar_wrapper">
					 <ul id="pr_nav_bar " class="nav navbar-nav">
						<li >
						 <a class="selected" ng-click="scrollTo('features')"> Features </a>
						</li>
						<li class="divider-vertical"></li>
						
						<li >
						 <a class="selected" ng-click="scrollTo('venues')"> Venues </a>
						</li>
						<li class="divider-vertical"></li>
						<li>
						  <a href="" class="selected"  ng-click="scrollTo('events')">Events</a>
						</li>
						<li class="divider-vertical"></li>
						<li ><a href="" class="selected" ng-click="scrollTo('services')">Services</a></li>
						<li class="divider-vertical"></li>
						<li >
						  <a href="" class="selected" ng-click="scrollTo('map')"> Map</a>
						</li>
						<li class="divider-vertical"></li>
						<li >
						  <a href="" class="selected" > See all <strong>verified reviews</strong></a>
						</li>
						
					 </ul>
					</div>
						<div class="white-row">

							<!-- 
								carousel 
								900px images required!
							-->
							<carousel interval="5000">
								<slide ng-if="hasPhotos(currentProvider)" ng-repeat="photo in currentProvider.gallaryPhotos">
									<div class="owl-caption text-left">
										<p class="hidden-xs">
										  Our beautiful photos ...
										</p>
									</div>
									<img alt="" class="img-responsive" ng-src="{{photo.image}}" width="900" style="margin:auto;" />
								</slide>

								<slide ng-if="!hasPhotos(currentProvider)">
									<div class="owl-caption text-left">
										<p class="hidden-xs">hide on mobile
											Sample photos for providers without one...
										</p>
									</div>
									<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/3.jpg" width="900" style="margin:auto;" />
								</slide>
								<slide ng-if="!hasPhotos(currentProvider)">
									<div class="owl-caption text-left">
										<p class="hidden-xs">hide on mobile
											Sample photos for providers without one...
										</p>
									</div>
									<img alt="" class="img-responsive" src="/app/assets/images/demo/realestate/images/5.jpg" width="900" style="margin:auto;"/>
								</slide>
							</carousel> 
							
						
							<!-- /carousel -->
							<!-- /carousel -->

							
						</div><!-- /.white-row -->
						
						</div>
						  <!-- side column -->
					 <div class="col-md-4 col-sm-6 hidden-xs">

                             <p>&nbsp;</p>

						<form id="re-filter"  method="get" class="book-row">

							<div class="row">
								<div class="form-group">
									<div class="col-md-12 col-sm-12">
										<label>Event Start Date</label>
										 <p class="input-group">
											<input type="text" class="form-control well well-sm" 
												 ng-model="eventDate" name="eventDate">
												 
												 <span class="input-group-btn">
												<button type="button" class="btn btn-info" disabled="disabled">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
											</p> 
									</div>
									<div class="col-md-12 col-sm-12">
										<label>Event End Date</label>
										 <div class="input-group">
											<input type="text" class="form-control well well-sm" 
												 ng-model="eventDate" name="eventDate">
												 <span class="input-group-btn">
												<button type="button" class="btn btn-info" disabled="disabled" >
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
											</div> 
									</div>
									

									<div class="col-md-12 col-sm-12">
										<label>&nbsp;</label>
										<button class="btn btn-info fullwidth" >BOOK NOW</button>
									</div>


								</div>
							</div>


						</form>


					</div> 	 <!-- /side column -->
						</div>
						
						
                     <div class="col-md-12 col-sm-12"> 
                       <div class="white-row"  id="info">
                           <p class="lead text-center">{{currentProvider.providerName}}</p>
							<p>{{currentProvider.businessDescription}}</p>
							

							<!-- PROPERTY FEATURES -->
							<h3 class="page-header margin-bottom40" id="events">
								Caters to these <strong class="styleColor">Events</strong>
							</h3>
							

							<div class="row">
								<!-- col 1 -->
								<div class="col-md-6 col-sm-6 col-xs-6">
									<ul class="list-icon check-square">
										<li ng-repeat="event in currentProvider.providerEvents" ng-if="!$even">{{event.eventId}}</li>
									</ul>
								</div>
								<!-- col 2 -->
								<div class="col-md-6 col-sm-6 col-xs-6">
									<ul class="list-icon check-square">
										<li ng-repeat="event in currentProvider.providerEvents" ng-if="$even">{{event.eventId}}</li>
									</ul>
								</div>
								<!-- col 3 -->

							</div>
                     </div>
					<div class="white-row"  id="features">
                              <h3 class="page-header margin-bottom40">
								UNIQUE <strong class="styleColor">Features</strong>
							</h3>
							  <div ng-repeat="feature in currentProvider.providerFeatures"  >
						          <div class="panel panel-info"  style="border:0" >
									  <div class="panel-heading">
									    <h3 class="panel-title">{{feature.name}} </h3>
									  </div>
									  <div class="panel-body">
									   <ul class="list-icon check">
										   <li ng-repeat="fdesc in feature.description">{{fdesc}}</li>
									    </ul>
									  </div>
								</div>
							</div>


						</div><!-- /.white-row -->
						
						<div class="white-row"  id="venues">
                              <h3 class="page-header margin-bottom40">
								OUR <strong class="styleColor">Venues</strong>
							</h3>
							<div class="table-responsive"> 
					        <table class="table table-bordered">
					            <thead>
					                <tr>
					                   <th>No</th>
					                    <th>Name</th>
					                    <th>Capacity</th>
					                    <th>Price</th>
					                    <th>Description</th>
					                </tr>
					            </thead>
					            <tbody>
					                <tr ng-repeat="venue in currentProvider.providerVenues">
					                   <td>{{$index + 1}}</td>
					                    <td>{{venue.name}}</td>
					                    <td>{{venue.capacity}}</td>
					                    <td>{{venue.price.price |currency : venue.price.currency}}</td>
					                    <td>Venue specific description goes here</td>
					                </tr>
					            </tbody>
					        </table>
					    </div>

						</div><!-- /.white-row -->
						
						<div class="white-row"  id="services">
                              <h3 class="page-header margin-bottom40">
								SERVICE <strong class="styleColor">Offerings</strong>
							</h3>
							
							<div class="table-responsive"> 
					        <table class="table table-bordered">
					            <thead>
					                <tr>
					                    <th>Type</th>
					                    <th>Price</th>
					                    <th>Description</th>
					                </tr>
					            </thead>
					            <tbody>
					                <tr ng-repeat="service in currentProvider.providerServices">
					                    <td>{{service.serviceId}}</td>
					                    <td>{{service.price.price | currency : service.price.currency}}</td>
					                    <td>{{service.description}}</td>
					                </tr>
					            </tbody>
					        </table>
					    </div>


						</div><!-- /.white-row -->


						<div class="white-row" id="map">

							<!-- PROPERTY MAP -->
							<h3 class="page-header margin-bottom40">
								RH1001 <strong class="styleColor">Google Map</strong>
							</h3>

                            <!--  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map> -->
							<div id="gmap_default">
							   <map center="{{map.center.longitude}},{{map.center.latitude}}" zoom="15">
							      <marker position="{{map.center.longitude}},{{map.center.latitude}}" ></marker>
							   </map>
							</div>


						</div><!-- /.white-row -->
						
						<div class="white-row">

							<!-- PROPERTY CONTACT -->
							<h3 class="page-header margin-bottom40">
								RH1001 <strong class="styleColor">Contact</strong>
							</h3>

							<div class="row">

								<!-- AGENT -->
								<div class="col-md-7 col-sm-7">
									<!-- agent name -->

									<!-- agent image -->
									

									<!-- agent detail -->
									<p>
										<strong class="styleSecondColor fsize17">Jessica Doe</strong>
									</p>
									<p>

										<span class="block">
											<strong>Office:</strong> 0800-123-12345
										</span>
										<span class="block">
											<strong>Mobile:</strong> 0800-123-12345
										</span>

									</p>

									<p class="fsize13">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
										sed diam nonummy nibh euismod tincidunt ut laoreet 
										dolore magna aliquam erat volutpat. Ut wisi enim ad...
									</p>

									<hr class="half-margins" />

									<div class="hidden-xs">
										<a href="#" class="social fa fa-facebook"></a>
										<a href="#" class="social fa fa-google-plus"></a>
										<a href="#" class="social fa fa-twitter"></a>
										<a href="#" class="social fa fa-linkedin"></a>
									</div>

								</div>

								<!-- AGENT CONTACT -->
								<div class="col-md-5 col-sm-5">
									<p>
										<strong class="styleSecondColor fsize17">Contact</strong>
									</p>

									<form method="post" action="#" class="input-group fullwidth">

										<div class="form-group">
											<input required type="text" value="" placeholder="Name" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">
										</div>

										<div class="form-group">
											<input required type="email" value="" placeholder="Email" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">
										</div>

										<div class="form-group">
											<textarea required maxlength="5000" placeholder="Message" data-msg-required="Please enter your message." rows="3" class="form-control" name="message" id="message"></textarea>
										</div>

										<button class="btn btn-primary fullwidth noborder">SEND MESSAGE</button>

									</form>

								</div>

							</div>

						</div><!-- /.white-row -->
					</div>


						<!-- /RELATED -->

					

				</div>

			</section>


		</div>
		<!-- /WRAPPER -->

<script type="text/javascript">
	$(function() {
	    $('input[name="eventDate"]').daterangepicker({
	        minDate: '06/01/2015',
	        singleDatePicker: true,
	        timePicker: true,
	        format: 'MM/DD/YYYY h:mm ',
	        timePickerIncrement: 30,
	        timePicker12Hour: false,
	        timePickerSeconds: false
	       
	    });

	});
	


	
</script>