.help-inline { margin-bottom: 9px; color: #a94442; font-size: 85%;}
.star {color: #a94442; font-size: 85%;}
.error {color: #a94442;}

input.ng-valid.ng-dirty {border: solid green 1px;}
input.ng-invalid.ng-dirty {border: solid red 1px;}

textarea.ng-valid.ng-dirty {border: solid green 1px;}
textarea.ng-invalid.ng-dirty {border: solid red 1px;}

select.ng-valid.ng-dirty {border: solid green 1px;}
select.ng-invalid.ng-dirty {border: solid red 1px;}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  
  .indent {
    margin-left: 50px;
}

.move-down {
    margin-top: 100px;
}

/* Styles go here */

.stuff-to-show {
    position: relative;
    height: 100px;
    -webkit-transition:top linear 1.5s;
    transition:top linear 1.5s;
    top: 0;
}

.stuff-to-show.ng-hide {
	top: -100px;
}

.stuff-to-show.ng-hide-add, .stuff-to-show.ng-hide-remove {
	display:block!important;
}