	<header id="topNav" >
			<div class="container">

				<!-- Mobile Menu Button -->
				<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" ui-sref="home">
					<img src="/app/assets/images/148x80.png" height="65" width="148" alt="E-mefana"/>
				</a>

				<!-- Top Nav -->

				<div class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">
						
						
							<li class=" dropdown active">
								<a href="#">
									 <i class="fa fa-question"></i> 
								</a>
								<ul class="dropdown-menu">
									<li><a href="providers"><i class="fa fa-plus"></i>Add Your Business to Emefana</a></li>
									<li class="divider"></li>
									<li><a ui-sref="privacy">Privacy Policy</a></li>
									<li class="divider"></li>
									<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
									<li class="divider"></li>
								</ul>
							</li>

							<li class="dropdown active">
								<a class="dropdown-toggle" href="#">
									<i class="fa fa-user"></i> Sign In 
								</a>

							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Manage booking 
								</a>
								

							</li>
							
							<!-- GLOBAL SEARCH -->
							<li class="search">
								<!-- search form -->
								<form class="input-group pull-right">
								 {{searchterm}}
									<input type="text" class="form-control" ng-model="searchterm" placeholder="Search Providers by their names">
									<span class="input-group-btn">
										<button class="btn btn-primary notransition" ng-click="searchByTerm(searchterm)"><i class="fa fa-search"></i></button>
									</span>
								</form>
								<!-- /search form -->
							</li>
							<!-- /GLOBAL SEARCH -->

                   
						</ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
			
		<script type="text/javascript" src="/app/assets/js/scripts.js"></script>
		</header>