	<header id="topNav" >
			<div class="container">

				<!-- Mobile Menu Button -->
				<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" ui-sref="home">
					<img src="/app/assets/images/logo.png" alt="E-mefana" width="166" height="40"/>
				</a>

				<!-- Top Nav -->

				<div class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">
						
						
							<li class=" dropdown active">
								<a href="#">
									 <i class="fa fa-question"></i> 
								</a>
								<ul class="dropdown-menu">
									<li><a href="providers"><i class="fa fa-plus"></i>Add Your Business to Emefana</a></li>
									<li class="divider"></li>
									<li><a href="shop-full-width.html">Shop Full Width</a></li>
									<li><a href="shop-product-full-width.html">Shop Product Full Width</a></li>
									<li class="divider"></li>
									<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
									<li><a href="shop-product-sidebar.html">Shop Product Sidebar</a></li>
									<li class="divider"></li>
									<li><a href="shop-cart.html">Shop Cart</a></li>
									<li><a href="shop-cc-pay.html">Shop Credit Card</a></li>
								</ul>
							</li>
							
							

							<li class="dropdown active">
								<a class="dropdown-toggle" href="#">
									<i class="fa fa-user"></i> Sign In 
								</a>

							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Manage booking 
								</a>
								

							</li>
							
							<!-- <li>
							  <select class="form-control " name="countrySelected"
											ng-model="countrySelected"
											ng-options="country for country in countries" >
										</select>
							
							</li> -->

                   
						</ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
		</header>