<!-- copyright , scrollTo Top -->
			<div class="footer-bar">
				<div class="container">
					<span class="copyright">Copyright &copy; E-MEFANA, LLC . All Rights Reserved.</span>
					<a class="toTop" href="##{{backTopId}}">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
				</div>
			</div>
			<!-- copyright , scrollTo Top -->


			<!-- footer content -->
			<div class="footer-content">
				<div class="container">

					<div class="row">


						<!-- FOOTER CONTACT INFO -->
						<div class="column col-md-4">
							<h3>CONTACT</h3>

							<p class="contact-desc">
								E-mefana, One stop shop for events service providers of all kind. Available anytime, anywhere										
							</p>
							<address class="font-opensans">
								<ul>
									<li class="footer-sprite address">
										<!-- PO Box <br /> -->
										 Dar es Salaam , Tanzania<br />
										<!-- 255 Tanzania<br /> -->
									</li>
									<li class="footer-sprite phone">
										Phone: 1-800-XXX-YYY
									</li>
									<li class="footer-sprite email">
										<a href="mailto:info@e-mefana.com">info@e-mefana.com</a>
									</li>
								</ul>
							</address>

						</div>
						<!-- /FOOTER CONTACT INFO -->


						<!-- FOOTER LOGO -->
						<div class="column logo col-md-4 text-center">
							<div class="logo-content">
								<img ng-class="animate_fade_in" ng-src="/app/assets/images/450x450.png" width="200" alt="" />
								<h4>SHUGHULI YAKO IMEFANA</h4>
							</div>											
						</div>
						<!-- /FOOTER LOGO -->


						<!-- FOOTER LATEST POSTS -->
						<div class="column col-md-4 text-right">
							<h3>RECENT POSTS</h3>

							<div class="post-item">
								<small>JANUARY 2, 2014 BY ADMIN</small>
								<h3><a href="#">Coming soon</a></h3>
							</div>
							<div class="post-item">
								<small>JANUARY 2, 2014 BY ADMIN</small>
								<h3><a href="#">Coming soon</a></h3>
							</div>
							<div class="post-item">
								<small>JANUARY 2, 2014 BY ADMIN</small>
								<h3><a href="#">Coming soon</a></h3>
							</div>

							<a href="# class="view-more pull-right">View Blog <i class="fa fa-arrow-right"></i></a>

						</div>
						<!-- /FOOTER LATEST POSTS -->

					</div>

				</div>
			</div>
			<!-- footer content -->